.poke-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(to right, #ff0000 , #0d62ff);
    padding-left: 1rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    overflow: scroll;
    height: 45rem;
}